:root {
  --bubble-radius: 25px;
}

html, body {
  @apply w-full h-full m-0 overflow-x-hidden;
}
body {
  background-image: url("/images/bg.jpg");
  @apply bg-cover bg-center flex flex-col justify-around;
  @media (min-width:500px) {
    justify-content: space-evenly;;
  }
}
header {
  @apply discourse flex flex-wrap-reverse;
}
#greeting {
  @apply white-bubble rounded-bl-none scale0 origin-bottom-left;
}
#assistant {
  width: 175px;
  height: 263px;
  margin-left: 15px;
  margin-top: 10px;
}
.discourse {
  @apply w-full mx-auto;
  max-width: 625px;
}
.bubble {
  @apply w-fit;
  border-radius: var(--bubble-radius);
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  &.anna {
    @apply white-bubble popup rounded-tl-none scale0 origin-top-left;
  }
  &.user {
    @apply green-bubble rounded-br-none ml-auto;
  }
  &.translate {
    @apply green-bubble rounded-br-none;
  }
  &.en {
    font-size: 14pt;
    padding: 12px 17px;
  }
  &.jp {
    font-size: 16pt;
    padding: 10px 15px;
  }
}
.white-bubble {
  background-color: rgba(255, 255, 255, 0.8);
}
.green-bubble {
  background-color: rgba(124, 252, 0, 0.8);
}
#translate {
  @apply m-auto w-full;
  max-width: 610px;
}
#translator {
  border-bottom-right-radius: var(--bubble-radius);
  border: 1px dashed black;
  font-size: 12pt;
  animation-delay: .5s;
  animation-duration: .2s;
  @apply text-blue-500 bg-white underline cursor-pointer scale0;
}
.lang-switch {
  @apply flex flex-row-reverse;
}
.flag {
  @apply bg-white mr-0 cursor-pointer;
  border-radius: 16px;
  border: 1px dashed black;
  font-size: 20pt;
  padding: 5px 10px 0;
}
form {
  @apply flex sticky;
  max-width: 600px;
  margin: 10px auto;
  padding: 0 10px;
  bottom: 10px;
}
#search-box {
  @apply flex-grow min-w-0;
  font-size: 13pt;
  border-radius: 50px;
  border: 1px solid #aaa;
  padding: 10px 68px 9px 40px;
}
.material-symbols-outlined {
  @apply absolute cursor-pointer;
  font-size: 20pt;
  &.search {
    @apply cursor-default;
    top: 8px;
    left: 20px;
  }
  &.mic {
    top: 8px;
    right: 47px;
  }
  &.photo-camera {
    top: 7px;
    right: 20px;
  }
}
#submit {
  @apply hidden;
}
.popup {
  animation: popup .35s ease-out forwards;
}
@keyframes popup {
  0% {
    @apply scale0;
  }
  100% {
    @apply scale1;
  }
}
.scale0 {
  transform: scale(0);
}
.scale1 {
  transform: scale(1);
}
