@tailwind utilities;

:root {
  --bubble-radius: 25px;
  --max-chats-width: 625px;
  --assistant-top: 10px;
  --assistant-left: 15px;
  --assistant-shift: translateX(calc(var(--assistant-left) - var(--max-chats-width)/2));
}

html, body {
  @apply w-full h-full m-0 overflow-x-hidden;
}
body {
  font-family: Palatino, Georgia, 'Times New Roman', Times, serif;
  background-image: url("/images/bg.jpg");
  @apply bg-cover bg-center;
  > * {
   @apply w-full mx-auto max-w-[var(--max-chats-width)]
  }
  @apply justify-around flex flex-col;
  @media (min-width:500px) {
    justify-content: space-evenly;
  }
}
header {
  @apply flex flex-wrap-reverse;
}
#assistant, #sub {
  @apply w-[175px] h-[263px] transition-transform duration-[.3s] ease-out;
  transform-origin: bottom left;
}
#assistant {
  @apply ml-[var(--assistant-left)] mt-[var(--assistant-top)];
}
#sub {
  @apply fixed left-[50%] top-[var(--assistant-top)] pointer-events-none;
  transform: var(--assistant-shift);
  &.peek {
    transform: var(--assistant-shift) rotate(-20deg) translateX(-65px);
    @apply duration-[2s] ease-in-out;
  }
}
#greeting {
  @apply m-[10px] origin-bottom-left scale0 rounded-bl-none rounded-tl-[var(--bubble-radius)];
}
#discourse {
  > * {
    @apply w-fit m-[10px];
  }
  > .user {
    @apply ml-auto;
  }
  > .gallery {
    @apply w-auto;
  }
}
.bubble {
  @apply rounded-[var(--bubble-radius)];
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  @apply text-[14pt] p-[12px_17px];
}
.bubble.user {
  @apply rounded-br-none bg-[rgba(124,252,0,0.8)];
}
.bubble.anna {
  @apply origin-top-left rounded-tl-none scale0 popup bg-[rgba(255,255,255,0.85)];
  @media (min-width:730px) {
    background-color: rgba(255, 255, 255, 0.95);
  }
}
.bubble.anna.jp {
  @apply text-[16pt] p-[10px_15px];
}
.bubble.flag {
  @apply border border-dashed mr-[10px];
}
.fi {
  @apply border border-dashed cursor-pointer;
}
#translate-hint {
  @apply w-fit scale0 ml-auto cursor-pointer
  bg-white bubble
  border-black border-dashed border mr-[15px]
  text-blue-500 underline;
  font-size: 12pt;
  animation-delay: .5s;
  animation-duration: .2s;
}
#search-bar {
  @apply flex sticky max-w-[600px] m-[15px_auto_0] p-[0_5px] bottom-[5px];
}
#search-box {
  @apply flex-grow min-w-0;
}
#search-box, #camera-box {
  @apply border border-gray-500 rounded-[25px] text-[13pt] p-[10px_68px_9px_35px];
}
.material-symbols-outlined {
  @apply absolute cursor-pointer invisible;
  &.search {
    @apply top-[8px] left-[13px] text-[20pt] cursor-default;
  }
  &.photo-camera {
    @apply top-[8px] right-[50px] text-[20pt] border-solid border-gray-400 p-[0_4px];
    border-width: 0 1px;
  }
  &.mic {
    @apply top-[8px] right-[10px] text-[23pt];
  }
  &.send {
    @apply top-[5px] right-[10px] text-[24pt];
  }
}
#submit {
  @apply hidden;
}
.popup {
  animation: popup .35s ease-out forwards;
}
@keyframes popup {
  0% {
    @apply scale0;
  }
  100% {
    @apply scale1;
  }
}
.scale0 {
  transform: scale(0);
}
.scale1 {
  transform: scale(1);
}
.products {
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: 5px;
  align-items: center;
  margin: 15px 0 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  }
  caption {
    text-align: center;
    display: block;
    font-size: 11pt;
    margin-top: 3px;
  }
}