.showcase {
  --x-push: 90px;
  --x-push-hanging: 37.5px;
  @media(max-width: 355px) {
    --x-push: 52px;
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: end;
  margin-block-start: 16px;
  padding: 0;
  min-width: 280px;
  li {
    display: block;
    width: fit-content;
    height: fit-content;
  }
  figure {
    @apply trans limit-width;
    margin: 0;
    position: relative;
    margin-bottom: 1px;
  }
  img {
    @apply trans limit-width;
    display: block;
    transform-origin: bottom center;
  }  
  figcaption {
    @apply ghosting;
    text-align: center;
    font-size: 9pt;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
  }
  a {
    @apply text-blue-600 ghosting;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
    padding: 5px 15px 6px;
    cursor: pointer;
    font-weight: 500;
    opacity: 0;
    font-size: 10pt;
    background-color: white;
    border: 1px dashed black;
    border-radius: 20px;
  }
  &.one {
    figure, img {
      max-width: 200px;
    }
    figure.outward > img {
      transform: scale(1.4)
    }
  }
}
.leftward {
  transform: translateX(-60px);
}
.rightward {
  transform: translateX(60px);
}
.leftward.edge {
  transform: translateX(calc(-25px - (var(--x-push))));
}
.rightward.edge {
  transform: translateX(calc(25px + (var(--x-push))));
}
.leftward.edge.hanging {
  transform: translateX(calc(-25px - (var(--x-push-hanging))));
}
.rightward.edge.hanging {
  transform: translateX(calc(25px + (var(--x-push-hanging))));
}
.upward {
  transform: translateY(-20px);
}
.downward {
  transform: translateY(30px);
}
.inward {
  z-index: 1;
}
.outward {
  --down: translateY(20px);
  z-index: 2;
  transform: var(--down);
  &.leading {
    transform: var(--down) translateX(var(--x-push));
  }
  &.trailing {
    transform: var(--down) translateX(calc(0px - (var(--x-push))));
  }
  &.leading.hanging {
    transform: var(--down) translateX(var(--x-push-hanging));
  }
  &.trailing.hanging {
    transform: var(--down) translateX(calc(0px - (var(--x-push-hanging))));
  }
  img {
    transform: scale(2.8);
    box-shadow: 0 -1px 10px black;
  }
  figcaption {
    opacity: 0;
  }
  a {
    opacity: 1;
  }
}
.limit-width {
  max-width: 100px;
}
.trans {
  transition: .25s transform;
}
.ghosting {
  transition: .25s opacity;
}

