.showcase {
  --x-push: 90px;
  --x-push-hanging: 37.5px;
  @media(max-width: 355px) {
    --x-push: 52px;
  }
  @apply p-0 flex flex-row flex-wrap justify-center items-end gap-[5px] min-w-[280px];
  li {
    @apply block w-fit h-fit
  }
  figure, img {
    @apply max-w-[100px];
  }
  figure {
    @apply trans relative m-0 mb-[1px];
  }
  img {
    @apply trans block select-none origin-bottom;
  }  
  figcaption {
    @apply trans relative text-[9pt] text-center text-ellipsis overflow-hidden;
  }
  a {
    @apply trans absolute bottom-0 left-[50%] p-[5px_15px_6px] cursor-pointer
      text-[10pt] text-blue-600 font-medium underline bg-white opacity-0 invisible
      border-[1px] border-dashed border-black rounded-full;
    transform: translateX(-50%);
  }
  &.one {
    figure, img {
      @apply max-w-[200px];
    }
    figure.outward > img {
      transform: scale(1.4)
    }
  }
}
.leftward {
  transform: translateX(-60px);
  &.leading {@apply opacity-0; &.hanging {@apply opacity-100;}}
}
.rightward {
  transform: translateX(60px);
  &.trailing {@apply opacity-0; &.hanging {@apply opacity-100;}}
}
.leftward.edge {
  transform: translateX(calc(-25px - (var(--x-push))));
}
.rightward.edge {
  transform: translateX(calc(25px + (var(--x-push))));
}
.leftward.edge.hanging {
  transform: translateX(calc(-25px - (var(--x-push-hanging))));
}
.rightward.edge.hanging {
  transform: translateX(calc(25px + (var(--x-push-hanging))));
}
.upward {
  transform: translateY(-20px);
}
.downward {
  transform: translateY(30px);
}
.inward {
  z-index: 1;
}
.outward {
  z-index: 2;
  --down: translateY(45px);
  transform: var(--down);
  &.leading {
    transform: var(--down) translateX(var(--x-push));
  }
  &.trailing {
    transform: var(--down) translateX(calc(0px - (var(--x-push))));
  }
  &.leading.hanging {
    transform: var(--down) translateX(var(--x-push-hanging));
  }
  &.trailing.hanging {
    transform: var(--down) translateX(calc(0px - (var(--x-push-hanging))));
  }
  &.portrait img {
    transform: scale(2.1);
  }
  img {
    @apply bg-white;
    box-shadow: 0 -1px 10px black;
    transform: scale(2.8);
  }
  figcaption {
    @apply opacity-0;
  }
  a {
    @apply opacity-100 visible;
  }
}
.trans {
  transition-property: transform opacity;
  transition: .25s;
}
